* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    width: 800px;
    height: 550px;
    border-radius: 20px;
    background-color: #121212;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.login-left {
    flex: 1;
    background: url('/images/lens.png') no-repeat center;
    background-size: cover;
    position: relative;
}


.login-right {
    flex: 1;
    background-color: #000;
    color: #fff;
    padding: 40px;
    position: relative;
}

.login-title {
    margin-top: 30px;
    color: #ff7f00;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.input-field {
    background-color: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
    outline: none;
}

.forgot-password {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
}


.forgot-password label {
    display: inline-flex;
    align-items: center;
}

.forgot-password a {
    text-decoration: none;
    color: #ff7f00; 
    font-weight: bold;
    transition: color 0.3s; 
}

.forgot-password a:hover {
    color: #ff7f00; 
}

.login-button {
    background-color: #ff7f00;
    border: none;
    padding: 12px 20px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.signup-link {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.signup-link a {
    color: #ff7f00;
    text-decoration: none;
}

.or {
    text-align: center;
    margin: 10px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* Popup styles */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  z-index: 1000;
  border-radius: 10px;
}

.popup p{
  color: black;
}

.popup .close-btn {
  margin-top: 20px;
  background-color: #ff7f00;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.popup .close-btn:hover {
  background-color: #ff7f00;
}

/* Overlay styling */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
